body{
    background-color: green;
    background: url('src/images/images.jpeg');
    background-size: cover;
}
h1{
    text-align: center;
    color: lightgreen;
    background-color: lightpink;
    transition: 0.3s;
    padding: 10px 40px;
    border-radius: 50px;
}

h1:hover{
    font-size: 40px;
}

p{
    color: lightgreen;
}